In [1]:
import pandas as pd

In [2]:
pwd

'd:\\ADAPET\\src\\junk'

In [3]:
splits = ["train", "dev", "test_alpha1", "test_alpha2", "test_alpha3"]
for sp in splits:
    df = pd.read_csv(f"../data/infotabs/drr/{sp}.tsv", delimiter="\t")
    # df.to_csv(f"data/{sp}.tsv", index=False)
    df["label"] = df["label"].map({0: 2, 1: 1, 2: 0})
    df.to_csv(f"../data/infotabs/drr_enc/{sp}.tsv", sep="\t",index=False)

In [12]:
pd.read_csv(f"../data/infotabs/drr/{sp}.tsv", delimiter="\t").head()

,index,table_id,annotator_id,premise,hypothesis,label
0,0,T2045,GW74,The passengers of 1950 British Columbia B-3...,Most of the survivors were crew.,2
1,1,T2045,GW74,The passengers of 1950 British Columbia B-3...,The five fatalities included 1 passenger,1
2,2,T2045,GW74,The passengers of 1950 British Columbia B-3...,There were more survivors than there were crew.,0
3,3,T2045,GW52,The passengers of 1950 British Columbia B-3...,Most of the 1950 British Columbia B-36 crash v...,2
4,4,T2045,GW52,The summary of 1950 British Columbia B-36 c...,The 1950 British Coluimbia B-36 crash report e...,1

In [11]:
pd.read_csv(f"../data/infotabs/drr_enc/{sp}.tsv", delimiter="\t").head()

,index,table_id,annotator_id,premise,hypothesis,label
0,0,T2045,GW74,The passengers of 1950 British Columbia B-3...,Most of the survivors were crew.,0
1,1,T2045,GW74,The passengers of 1950 British Columbia B-3...,The five fatalities included 1 passenger,1
2,2,T2045,GW74,The passengers of 1950 British Columbia B-3...,There were more survivors than there were crew.,2
3,3,T2045,GW52,The passengers of 1950 British Columbia B-3...,Most of the 1950 British Columbia B-36 crash v...,0
4,4,T2045,GW52,The summary of 1950 British Columbia B-36 c...,The 1950 British Coluimbia B-36 crash report e...,1

In [9]:
pd.read_csv(f"../data/infotabs/drr_enc/{sp}.tsv", delimiter="\t")["premise"].iloc[2]

'   The passengers of 1950 British Columbia B-36 crash is 1.  The crew of 1950 British Columbia B-36 crash is 16.  The survivors of 1950 British Columbia B-36 crash is 12.   The aircraft type of 1950 British Columbia B-36 crash is Convair B-36B.   '

In [8]:
pd.read_csv(f"../data/infotabs/drr_enc/{sp}.tsv", delimiter="\t")["hypothesis"].iloc[2]

'There were more survivors than there were crew.'

In [10]:
pd.read_csv(f"../data/infotabs/drr_enc/{sp}.tsv", delimiter="\t")["label"].iloc[2]

2